In [7]:
name = [1,"abc"]

for x in name:
    print(x,type(x))

1 <class 'int'>
abc <class 'str'>

In [12]:
name = [1,2]

for x in name:
    for y in x:
        print(y)

TypeError: 'int' object is not iterable

In [18]:
name = [[1, 2,[6,7]], [3, 4,[8,9]]]

for inner_list in name:
    print(inner_list)
    for y in inner_list:
        print(y)
        for z in y:
            print(z)

[1, 2, [6, 7]]
1

TypeError: 'int' object is not iterable

In [20]:
def iterate_nested_list(lst):
    for item in lst:
        if isinstance(item, list):
            print(type(item))
            iterate_nested_list(item)
        else:
            print(item)

name = [[1, 2, [6, 7]], [3, 4, [8, 9]]]

iterate_nested_list(name)

<class 'list'>
1
2
<class 'list'>
6
7
<class 'list'>
3
4
<class 'list'>
8
9

In [21]:
def factorial(n):
    if n == 0:
        return 1  # Base case: 0! is defined as 1
    else:
        return n * factorial(n - 1)
factorial(3)

6

In [40]:
first_name = "amine"
last_name = "laagad"

def account_generator(zbi, klawi):
    account_name = first_name[0:3]+last_name[0:3]
    return account_name
account_generator("Julie", "Blevins")
print(x)

y = account_generator(first_name, last_name)
print(y)

JulBle
amilaa

In [12]:
name = 'amine'
i = 0 
for x in name:
    i += 1
    print(i)

1
2
3
4
5

In [11]:
def get_length(name):
  i = 0
  for x in name:
    i += 1
  return i
get_length("amine")

5

In [17]:
def foo(x):
    if x == 1:
        return 1
    else:
        return x + foo(x-1)
result = foo(5)
print(result)

15

In [21]:
favorite_fruit = "blueberry"
counter = 0
for character in favorite_fruit:
  if character == "b":
    counter = counter + 1
print(counter)

0

In [156]:
#Write a function called letter_check that takes two inputs, word and letter.
#This function should return True if the word contains the letter and False if it does not.
word = "strawberry"
letter = "s"
def letter_check(word, letter):
    for x in word:
        if x == letter:
            return True
        else:
            return False
            
print(letter_check("strawberry", "r"))

False

In [162]:
mynumbers = [1,2,3,4,5,6,7,8,9]

for x in mynumbers:
    if x % 2 == 0:
        print(f"The number {x} is an even number")
    else:
        print(f"The number {x} is odd an number")

The number 1 is odd an number
The number 2 is an even number
The number 3 is odd an number
The number 4 is an even number
The number 5 is odd an number
The number 6 is an even number
The number 7 is odd an number
The number 8 is an even number
The number 9 is odd an number

In [177]:
myname = "Amine"

for letter in myname:
    if letter == myname:
        print(myname)

In [190]:
myskills = {"Python" :"30%", "Sql": "60%", "Power BI": "5%"}

for skill in myskills:
        print(skill)
        for x in skill:
                print(x)

Python
P
y
t
h
o
n
Sql
S
q
l
Power BI
P
o
w
e
r

B
I

In [12]:
print(1 or 3)

print(1 and 3)

print (0 and 2 and 1)

print(0 and 2 or 1)

print(0 and 2 or 1 or 4)

print(0 or False and 1)

print(0)

1
3
0
1
1
False
0

In [40]:
print(1)

1

In [36]:
#Write a function called letter_check that takes two inputs, word and letter.
#This function should return True if the word contains the letter and False if it does not.


def letter_check(word, letter):
    for x in word:
        if x == letter:
            return True
        elif x == word:
            return True
    else:
        return False
letter_check("amine","a")

True

this one is better than the previous code a wrote because it uses in pre built in function

In [37]:
print("e" in "blueberry")
# => True
print("a" in "blueberry")
# => False

True
False

In [39]:
print("e" in "blueberry" and "e" in "carrot")
print("e" in "blueberry" or "e" in "carrot")

False
True

In [44]:
def contains(big_string,little_string):
  for string in big_string:
    if string == little_string:
      return True
    else:
      return False
contains("watermelon", "")

False

In [103]:
def contains(big_string, little_string):
  for little_string in big_string:
    if little_string in big_string:
      return True
    else:
      return False
    
contains("watermelon", "melon")

True

In [77]:
print ("melon" in "watermelon")

True

In [87]:
def contains(big_string, little_string):
    if little_string in big_string:
        return True
    else:
        return False
contains("watermelon", "berry")

False

In [90]:
def contains(big_string, x):
    if x in big_string:
        return True
    else:
        return False
contains("watermelon", "melon")

True

In [95]:
def common_letters(string_one, string_two):
  if string_one in string_two:
    return(list(string_two + string_one))
common_letters("banana", "cream")

In [33]:
# Create a password function that can slice,
# concatenate name and lastname and put them in a new var that will generate password based on them
first_name = "Amine"
last_name = "laagad"

def name_slicer(first_name , last_name):
    account_login = first_name[:2] + last_name[:3]
    return account_login
new_accounts = name_slicer(first_name, last_name)
name_slicer("Amine", "Laagad")
print(new_accounts)

Amlaa

In [ ]:
first_name = "Reiko"
last_name = "Matsuki"
def password_generator(first_name, last_name):
    new_full_name = first_name[-3:]+last_name[-3:]
    return new_full_name
new_account = password_generator(first_name, last_name)
password_generator("Reiko", "Matsuki")
print(new_account)

In [34]:
import requests

r = requests.get("https://api.census.gov/data/2020/acs/acs5?get=NAME,B08303_001E&for=state:*")

Url = r.json()
print(Url)

[['NAME', 'B08303_001E', 'state'], ['Pennsylvania', '5652158', '42'], ['California', '16710195', '06'], ['West Virginia', '697042', '54'], ['Utah', '1378826', '49'], ['New York', '8584828', '36'], ['District of Columbia', '332618', '11'], ['Alaska', '330203', '02'], ['Florida', '8817718', '12'], ['South Carolina', '2174285', '45'], ['North Dakota', '380227', '38'], ['Maine', '608861', '23'], ['Georgia', '4475685', '13'], ['Alabama', '2002359', '01'], ['New Hampshire', '656277', '33'], ['Oregon', '1790252', '41'], ['Wyoming', '267249', '56'], ['Arizona', '2897654', '04'], ['Louisiana', '1917930', '22'], ['Indiana', '2985939', '18'], ['Idaho', '744565', '16'], ['Connecticut', '1641807', '09'], ['Hawaii', '657643', '15'], ['Illinois', '5686627', '17'], ['Massachusetts', '3251466', '25'], ['Texas', '12371575', '48'], ['Montana', '471094', '30'], ['Nebraska', '928064', '31'], ['Ohio', '5163570', '39'], ['Colorado', '2604698', '08'], ['New Jersey', '4016070', '34'], ['Maryland', '2799889', '24'], ['Virginia', '3883690', '51'], ['Vermont', '292982', '50'], ['North Carolina', '4458769', '37'], ['Arkansas', '1238100', '05'], ['Washington', '3302637', '53'], ['Kansas', '1345103', '20'], ['Oklahoma', '1674019', '40'], ['Wisconsin', '2747826', '55'], ['Mississippi', '1193668', '28'], ['Missouri', '2707728', '29'], ['Michigan', '4288646', '26'], ['Rhode Island', '495214', '44'], ['Minnesota', '2654657', '27'], ['Iowa', '1482217', '19'], ['New Mexico', '829659', '35'], ['Nevada', '1321596', '32'], ['Delaware', '419600', '10'], ['Puerto Rico', '969379', '72'], ['Kentucky', '1858458', '21'], ['South Dakota', '411590', '46'], ['Tennessee', '2909026', '47']]

In [36]:
import csv 

with open ("censuse_data.csv", mode="w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(Url)

In [45]:
#Iterate trough a a lsit and a name or lastname to display each charachter 
name = ["amine"]

for list_element in name:
    print(list_element)
    for letter in list_element:
        print(letter)

amine
a
m
i
n
e

In [90]:
#Inside password_generator, create a for loop that iterates through the indices of user_name by going from 0 to len(user_name).
#The loop should create the password by shifting all the letters of user_name one to the right. 
#To do so, add the letter at the previous index of user_name to password with each pass of the loop.
#After the for loop but still within the definition of password_generator, return the password.

def username_generator(first_name, last_name):
  user_name = first_name[:3] + last_name [:4]
  return user_name
new_password = username_generator(first_name, last_name)
username_generator("Abe Simpson", "AbeSimp")

def password_generator(user_name):
  for x in range (0, len(user_name)):
      x = user_name[-1]+ user_name[:-1]
      return x
password_generator("AbeSimp")

'AbeSimp'

In [81]:
def username_generator(first_name, last_name):
    if len(first_name) < 3:
        user_name = first_name
    else:
        user_name = first_name[0:3]
    if len(last_name) < 4:
        user_name += last_name
    else:
        user_name += last_name[0:4]
    return user_name
  
    
def password_generator(user_name):
    password = ""
    for i in range(0, len(user_name)):
        password += user_name[i-1]
    return password
password_generator("Abesimp")

'pAbesim'

In [96]:
def print_some_characters(word):
  for i in range(len(word)):
    if i % 2 == 0:
      print("*")

print_some_characters("watermelon")

*
*
*
*
*

In [104]:
print("melon" in "watermelon")

True

Strings operations

In [146]:
name = "amine LAAGAAD"
# make all the string in uppercase format
print(name.upper())
# Lower case
print(name.lower())

# title format
print(name.title())

# split as a list
print(name.split())

# join
"9".join(name)

# replacing
name.replace("a","A")

# strip remove sapces
name.strip()

# format
print(f"your name is {name}")

AMINE LAAGAAD
amine laagaad
Amine Laagaad
['amine', 'LAAGAAD']
your name is amine LAAGAAD

In [147]:
tabbed_data = "John\tDoe\t30"
info = tabbed_data.split("\t")
print(info)
# Output: ['John', 'Doe', '30']

['John', 'Doe', '30']

In [149]:
multiline_text = "First line\nSecond line\nThird line"
lines = multiline_text.split("\n")
print(lines, multiline_text)
# Output: ['First line', 'Second line', 'Third line']

['First line', 'Second line', 'Third line'] First line
Second line
Third line

In [1]:
greatest_guitarist = "santana"
print(greatest_guitarist.split('n'))
# => ['sa', 'ta', 'a']

['sa', 'ta', 'a']

In [53]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"
author_names = authors.split(",")
for x in author_names:
    print(list(x.split()[0]))

['A', 'u', 'd', 'r', 'e']
['G', 'a', 'b', 'r', 'i', 'e', 'l', 'a']
['J', 'e', 'a', 'n']
['A', 'n']
['W', 'a', 'l', 't']
['S', 'h', 'e', 'l']
['C', 'a', 'r', 'm', 'e', 'n']
['K', 'a', 'm', 'a', 'l', 'a']
['L', 'a', 'n', 'g', 's', 't', 'o', 'n']
['A', 'd', 'r', 'i', 'e', 'n', 'n', 'e']
['N', 'i', 'k', 'k', 'i']

In [61]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"

author_names = authors.split(',')

print(author_names)

author_last_names = []
for name in author_names:
  author_last_names.append(name.split()[-1])
  print(author_last_names)

['Audre Lorde', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']
['Lorde']
['Lorde', 'Mistral']
['Lorde', 'Mistral', 'Toomer']
['Lorde', 'Mistral', 'Toomer', 'Qi']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

In [92]:
smooth_chorus ="""\nAnd if you said\nThis life ain't good enough\nI would give my world to lift you up\nI could change my life to better suit your mood\nBecause you're so smooth"""

print(smooth_chorus)

And if you said
This life ain't good enough
I would give my world to lift you up
I could change my life to better suit your mood
Because you're so smooth

In [93]:
text = "This is the first line.\nThis is the second line."
print(text)

This is the first line.
This is the second line.

In [97]:
text = "Name:\tJohn\nAge:\t30"
print(text)

Name:	John
Age:	30

In [104]:
smooth_chorus = \
"""And if you said "This life ain't good enough."
I would give my world to lift you up
I could change my life to better suit your mood
Because you're so smooth"""

chorus_lines = smooth_chorus.split('\n')

print(chorus_lines[0])

And if you said "This life ain't good enough."

In [112]:
my_list = ["apple", "banana", "cherry"]
result = " hey ".join(my_list)

print(result)

apple hey banana hey cherry

In [117]:
my_munequita = ['My', 'Spanish', 'Harlem', 'Mona', 'Lisa']
print('\n\t'.join(my_munequita))
# => 'My Spanish Harlem Mona Lisa'

My
	Spanish
	Harlem
	Mona
	Lisa

In [17]:
love_maybe_lines = ['Always    ', '     in the middle of our bloodiest battles  ', 'you lay down your arms', '           like flowering mines    ','\n' ,'   to conquer me home.    ']

for x in "\n".join(love_maybe_lines):
    print("\n",x)

 A

 l

 w

 a

 y

 s






















 i

 n



 t

 h

 e



 m

 i

 d

 d

 l

 e



 o

 f



 o

 u

 r



 b

 l

 o

 o

 d

 i

 e

 s

 t



 b

 a

 t

 t

 l

 e

 s








 y

 o

 u



 l

 a

 y



 d

 o

 w

 n



 y

 o

 u

 r



 a

 r

 m

 s


























 l

 i

 k

 e



 f

 l

 o

 w

 e

 r

 i

 n

 g



 m

 i

 n

 e

 s
























 t

 o



 c

 o

 n

 q

 u

 e

 r



 m

 e



 h

 o

 m

 e

 .

In [49]:
love_maybe_lines = ['Always    ', '     in the middle of our bloodiest battles  ', 'you lay down your arms', '           like flowering mines    ','\n' ,'   to conquer me home.    ']

y = []
for x in love_maybe_lines:  
    y.append(x.split("\n"))
    print(y.strip())

AttributeError: 'list' object has no attribute 'strip'

In [64]:
love_maybe_lines = ['Always    ', '     in the middle of our bloodiest battles  ', 'you lay down your arms', '           like flowering mines    ','\n' ,'   to conquer me home.    ']
stripped_lines = [line.strip() for line in love_maybe_lines]
print(stripped_lines)

for line in stripped_lines:
    line.strip(" ")
    print(line)

['Always', 'in the middle of our bloodiest battles', 'you lay down your arms', 'like flowering mines', '', 'to conquer me home.']
Always
in the middle of our bloodiest battles
you lay down your arms
like flowering mines

to conquer me home.

In [50]:
# Define the list of lines with whitespace
love_maybe_lines = ['Always    ', '     in the middle of our bloodiest battles  ', 'you lay down your arms', '           like flowering mines    ','\n' ,'   to conquer me home.    ']

# Use list comprehension to strip whitespace from each line
stripped_lines = [line.strip() for line in love_maybe_lines]

# Print the stripped lines
for line in stripped_lines:
    print(line)

Always
in the middle of our bloodiest battles
you lay down your arms
like flowering mines

to conquer me home.

In [ ]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"

author_names = authors.split(',')

print(author_names)

author_last_names = []

for name in author_names:

    author_last_names.append(name.split()[-1])
    print(author_last_names)

In [7]:
name = "Amine, laagad"

name1 = name.split(",")
print(name1)

['Amine', ' laagad']

In [10]:
name = "Amine, laagad"

name1 = name.join("z")
print(name1)

z

In [26]:
text = "apple,banana,cherry,dates,elderberry"
fruits = text.split(',', 2)
print(fruits)

['apple', 'banana', 'cherry,dates,elderberry']

In [32]:
greatest_guitarist = "santana"
splited_santana_space = greatest_guitarist.split()
print(splited_santana_space)
splited_santana_a = greatest_guitarist.split("a")
print(splited_santana_a)

['santana']
['s', 'nt', 'n', '']

In [58]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"
# we want each full name seperated from the string authors
#Great work, but now it turns out they didn’t want poet’s first names (why didn’t they just say that the first time!?)
#Create another list called author_last_names that only contains the last names of the poets in the provided string.
authors_splitted = authors.split(",")
print(authors_splitted)



full_name = [x.split()[1] for x in authors_splitted]

print(full_name)

['Audre Lorde', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']
['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

In [60]:
authors = "Audre Lorde,Gabriela Mistral,Jean Toomer,An Qi,Walt Whitman,Shel Silverstein,Carmen Boullosa,Kamala Suraiyya,Langston Hughes,Adrienne Rich,Nikki Giovanni"


author_names = authors.split(",")
author_last_names = []
for x in author_names:
    author_last_names.split(",")append(x.split()[1])
print(author_last_names)

['Lorde', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

In [65]:
reapers_line_one_words = ["Black", "reapers", "with", "the", "sound", "of", "steel", "on", "stones"]

reapers_line_one = '\t'.join(reapers_line_one_words)

print(reapers_line_one)

Black	reapers	with	the	sound	of	steel	on	stones

In [1]:
original_list = ["   apple  ", "  banana  ", "   cherry   "]
stripped_list = [item.strip() for item in original_list]
print(stripped_list)

['apple', 'banana', 'cherry']

In [8]:
original_list = ["   apple  ", "  banana  ", "   cherry   "]
stripped_list = [item.split() for item in original_list]
print(stripped_list)

[['apple'], ['banana'], ['cherry']]

In [41]:
# 1.
#They sent over another list containing all the lines to the Audre Lorde poem, Love, Maybe.
#They want you to join together all of the lines into a single string that can be used to display the poem again,
#but this time, you’ve noticed that the list contains a ton of unnecessary whitespace that doesn’t appear in the actual poem.

#First, use .strip() on each line in the list to remove the unnecessary whitespace and save it as a new list love_maybe_lines_stripped.

love_maybe_lines = ['Always    ',
                     '     in the middle of our bloodiest battles  ',
                       'you lay down your arms',
                         '           like flowering mines    ',
                         '\n' ,'   to conquer me home.    ']

love_maybe_lines_stripped = [x.strip() for x in love_maybe_lines]
print(love_maybe_lines_stripped)

# 2 .join() the lines in love_maybe_lines_stripped together into one large multi-line string, love_maybe_full,
# that can be printed to display the poem.
# Each line of the poem should show up on its own line.

love_maybe_lines_joined  = " " "\n".join(love_maybe_lines_stripped)
print(love_maybe_lines_joined)

['Always', 'in the middle of our bloodiest battles', 'you lay down your arms', 'like flowering mines', '', 'to conquer me home.']

string_name.replace(substring_being_replaced, new_substring)

In [43]:
original_string = "Hello, world! Hello, world!"
new_string = original_string.replace("Hello", "Hi")
print(new_string)

original_list = "apple, banana, cherry"
remplaced_string = original_list.replace("apple","zbi")
print(remplaced_string)

Hi, world! Hi, world!
zbi, banana, cherry

In [49]:
with_spaces = "You got the kind of loving that can be so smooth"
with_underscores = with_spaces.replace('', '/')
print(with_underscores)
# 'You_got_the_kind_of_loving_that_can_be_so_smooth'

/Y/o/u/ /g/o/t/ /t/h/e/ /k/i/n/d/ /o/f/ /l/o/v/i/n/g/ /t/h/a/t/ /c/a/n/ /b/e/ /s/o/ /s/m/o/o/t/h/

In [51]:
toomer_bio = \
"""
Nathan Pinchback Tomer, who adopted the name Jean Tomer early in his literary career, was born in Washington, D.C. in 1894. Jean is the son of Nathan Tomer was a mixed-race freedman, born into slavery in 1839 in Chatham County, North Carolina. Jean Tomer is most well known for his first book Cane, which vividly portrays the life of African-Americans in southern farmlands.
"""

toomer_bio_fixed = toomer_bio.replace("Tomer", "Toomer")
print(toomer_bio_fixed)

Nathan Pinchback Toomer, who adopted the name Jean Toomer early in his literary career, was born in Washington, D.C. in 1894. Jean is the son of Nathan Toomer was a mixed-race freedman, born into slavery in 1839 in Chatham County, North Carolina. Jean Toomer is most well known for his first book Cane, which vividly portrays the life of African-Americans in southern farmlands.